.feed-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.feed {
  width: 40%;
  min-width: 400px;
  height: 100%;
  padding: 15px 0 15px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(153, 153, 153);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #ddd;
}

.create-post {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 6px 10px 6px 10px;
  display: flex;
  gap: 10px;
}

.posting-textarea {
  flex: 1;
}

.posting-textarea textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  outline: none;
}

.posting-button {
  display: flex;
  align-items: center;
}

.send-btn {
  background-color: rgb(5, 159, 5);
  border-radius: 2px;
  padding: 3px;
  color: white;
  cursor: pointer;
}

.post {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 6px 10px 6px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-header {
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
}

.post-header span {
  font-size: 14px;
}

.post-user-photo {
  display: flex;
  align-items: center;
}

.post-reaction {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 6px 0 0 0;
  border-top: 2px solid #dedfe2;
}

.post-like {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.post-dislike {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-align: center;
}

.post-like:hover,
.post-dislike:hover {
  cursor: pointer;
  transform: scale(1.1);
}
