.header-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-logo {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.header-logo img {
  width: 120px;
  margin-top: 8px;
}

.header-user {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  color: white;
  font-size: 12px;
}

.username {
  font-size: 10px;
  margin-right: 10px;
}

.header-user-btn {
  display: flex;
  gap: 20px;
}

.login-btn {
  background-color: #ffffff;
  color: black;
  padding: 5px 8px 5px 8px;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
}

.signup-btn {
  background-color: var(--color-primary-400);
  color: var(--color-surface-mixed-100);
  padding: 5px 8px 5px 8px;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
}

.header-user-out button {
  background-color: #f0f2f5;
  color: black;
  padding: 5px 8px 5px 8px;
  font-weight: bold;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.white-link {
  color: white;
  text-decoration: none;
}
