.header-logo {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.header-logo img {
  width: 120px;
  margin-top: 8px;
}

.header-user {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 20px;
  font-size: 14px;
}

.header-user-btn {
  display: flex;
  gap: 20px;
}

.login-btn {
  background-color: #f0f2f5;
  color: black;
  padding: 3px 5px 3px 5px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

.signup-btn {
  background-color: #059f05;
  color: white;
  padding: 3px 5px 3px 5px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}

.header-user-out button {
  background-color: #f0f2f5;
  color: black;
  padding: 3px 5px 3px 5px;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.white-link {
  color: white;
  text-decoration: none;
}
