.create-post {
  width: 100%;
  background-color: var(--color-surface-mixed-200);
  border-radius: 5px;
  padding: 6px 10px 6px 10px;
  display: flex;
  gap: 10px;
}

.posting-textarea {
  flex: 1;
}

.posting-textarea textarea {
  width: 100%;
  height: 40px;
  background-color: var(--color-surface-mixed-200);
  color: var(--color-surface-mixed-600);
  font-size: 14px;
  resize: none;
  border: none;
  outline: none;
}

.posting-button {
  display: flex;
  align-items: center;
}

.posting-button button {
  border: none;
  background: transparent;
}

.send-btn {
  background-color: var(--color-primary-400);
  border-radius: 2px;
  padding: 3px;
  color: black;
  cursor: pointer;
}

.post {
  background-color: var(--color-surface-mixed-200);
  border-radius: 5px;
  padding: 6px 10px 6px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-header {
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  color: #ffffff;
}

.post-user-photo {
  display: flex;
  align-items: center;
}

.post-user-name {
  width: 68%;
}

.post-user-delete {
  display: flex;
  flex: 1;
  justify-content: end;
  align-items: end;
}

.post-user-delete button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 12px;
}

.post-content {
  max-width: 100%;
  word-wrap: break-word;
  white-space: pre-wrap;
  color: var(--color-surface-mixed-600);
}

.post-reaction {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 6px 0 0 0;
  border-top: 2px solid var(--color-primary-400);
}

.post-like {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.post-dislike {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-align: center;
}

.post-like:hover,
.post-dislike:hover {
  cursor: pointer;
  transform: scale(1.1);
}
